<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/register.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form" action="/register" id="registerForm">
          <input type="text" placeholder="username" name="name" />
          <input type="text" placeholder="id" name="id" />
          <input type="password" placeholder="password" name="password" />
          <input
            type="password"
            placeholder="password"
            name="confirm-password"
          />
          <input type="submit" value="sign up" />
          <p class="message">
            Already registered? <a href="/login">Sign In</a>
          </p>
        </form>
      </div>
    </div>

    <a href="/">Go home</a>
    <script></script>
  </body>
</html>
